h1 {
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    color:#2D3047;
    width:350px;
    display:flex;
    justify-content:center;
}

h2 {
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    width:350px;
    color:#FF9B71;
}

h3 {
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    width:350px;
    color:#FF9B71;
}

body {
    background-color:#1B998B;
}

img{
    width:350px;
    height:auto;
}

.food {
    font-size:24px;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    color:#FF9B71;
    width:350px;
}

.main-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.recipe-page-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width:350px;
}

li {
    color:#FFFD82;
}

a {
    display:flex;
    justify-content: center;
    color:#FFFD82;
}